<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {{ cfg.title }}
    </title>

    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    {% if cfg.debug %}
      <link rel="stylesheet" href="{{ static_url('css/reset.css') }}" >
      <link rel="stylesheet" href="{{ static_url('css/styles.css') }}" >
    {% else %}
      <link rel="stylesheet" href="{{ static_url('css/all.css') }}" >
    {% endif %}

    {% if cfg.debug %}
      <script type="text/javascript" text="javascript" src="{{ static_url('js/jquery.js') }}" ></script>
      <script type="text/javascript" text="javascript" src="{{ static_url('js/jquery.validate.js') }}" ></script>
    {% else %}
      <script type="text/javascript" text="javascript" src="{{ static_url('js/all.js') }}" ></script>
    {% endif %}

    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div id="page">
      <div id="menu_top">
        <ul>
          <li>
            <a href="/">{{ _('Index') }}</a>
          </li>
          <li>
            <a href="/refresh/">{{ _('Refresh') }}</a>
          </li>
          <li>
            <a href="/mark_as_read/">{{ _('Mark everything as read') }}</a>
          </li>
          <li>
            <a href="/feeds/add">{{ _('Add Feed') }}</a>
          </li>
        </ul>
      </div>

      <div id="menu_left">

        <ul id="feed_list">
          {% for feed in feeds %}
          <li><a href="/feeds/edit/{{ feed.id }}/">{{ feed.title|e }}</a></li>
          {% endfor %}
        </ul>

      </div>

      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

  </body>
</html>
