{% extends 'base.html' %}

{% block head %}

<script type="text/javascript">
  $(function() {
      $('form').validate();
  });
</script>


{% endblock %}


{% block content %}

<form action="{{ request.path }}" method="post" >

  {{ xsrf_form_html() }}

  <fieldset>

    <legend>{{ _('Edit Feed') }}</legend>

    <input type="hidden" id="id" name="id" value="{{ feed.id }}" />
    <label for="name">{{ _('Name') }}</label>
    <input type="text" id="name" name="name" class="required" value="{{ feed.title }}" />

    <label for="url">{{ _('Url') }}</label>
    <input type="text" id="url" name="url" class="required long" value="{{ feed.url }}" />

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ _('Edit') }}" />
        <a class="btn btn-small btn-danger" href="/feeds/delete/{{ feed.id }}/">Delete</a>
    </div>
  </fieldSet>
</form>

{% endblock %}
