{% extends 'base.html' %}

{% block head %}

<script type="text/javascript">
  $(function() {
      $('form').validate();
  });
</script>

{% endblock %}


{% block content %}

<form action="{{ request.path }}" method="post" >

  {{ xsrf_form_html() }}

  <fieldset>
    <legend>{{ _('Add Feed') }}</legend>

    <label for="name">{{ _('Name') }}</label>
    <input type="text" id="name" name="name" class="required" />

    <label for="url">{{ _('Url') }}</label>
    <input type="text" id="url" name="url" class="required long" />

    <div class="form-actions">
      <input class="btn btn-primary" type="submit" value="{{ _('Add') }}" />
    </div>
</form>

{% endblock %}
